.main {
    display: flex;
    width: 100vw;
    padding-bottom: 150px; /* height of footer */
}
.footer {
    position: relative;
}

.footerText {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    bottom: 0;
}
