@mixin aCard {
    border: 1px solid coral;
    border-radius: 4%;
    aspect-ratio: 3/5;
    background-color: cornsilk;
    margin: 15px;
    box-shadow: 0 0 0 10px white, 0 0 0 11px black;
    font-size: 2vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cityCard {
    @include aCard;
    min-width: 5vw;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 5px;
    gap: 5px;
}

.gameCard {
    @include aCard;
    min-width: 5vw;
    flex-grow: 0.3;
}

.number {
    display: flex;
    flex: 3 1 85%;
    font-size: 5em;
    color: black;
    text-shadow: 0px 0px 5px coral;
    align-items: center;
    justify-content: center;
}

.ability {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 10%;
}

.backOfCard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    width: 100%;
}
.construction {
    color: orange;
}
.pool {
    color: blue;
}
.park {
    color: green;
}
.agent {
    color: purple;
}
.fence {
    color: grey;
}
.bis {
    color: red;
}

.cityOrder {
    display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    opacity: 20%;
}

.cityInfo {
    font-size: 1em;
    display: flex;
    height: 85%;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.goalBlock {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 85%;
}

.cityPoints {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 2em;
    height: 15%;
}

.firstPoint {
    color: chocolate;
    font-weight: bold;
}

.imgThisRound {
    width: 80%;
    height: auto;
}
.imgNextRound {
    width: 50%;
    height: auto;
}

.plotImage {
    width: 9%;
}

.street {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.goalText {
    font-size: 1em;
}

@media screen and (orientation: landscape) {
    .cityCard {
        @include aCard;
        aspect-ratio: 5/3;
        flex-flow: row nowrap;
    }
    .cityInfo {
        flex-flow: row nowrap;
        height: 100%;
    }
    .cityPoints {
        width: 20%;
        height: 100%;
        flex-flow: column nowrap;
        text-align: right;
    }
}
