$cardLong: 270px;
$cardShort: 170px;
$smallCarlLong: 75px;
$smallCardShort: 150px;
$br-small: 500px;

.card {
    border: 1px solid coral;
    border-radius: 4%;
    background-color: cornsilk;
    box-shadow: 0 0 0 10px white, 0 0 0 11px black;
    align-items: center;
    cursor: pointer;
    margin: 5px 15px 25px;
    flex: 1 1 auto;
    align-self: auto;
    height: $cardShort;
    width: $cardLong;
    @media (max-width: $br-small) {
        height: $smallCardShort;
        width: $smallCarlLong;
    }
}
.gameCard {
    display: flex;
    flex-direction: column;
    margin: 5px 15px 25px;
    height: $cardLong;
    width: $cardShort;
    justify-content: center;

    @media (max-width: $br-small) {
        height: $smallCardShort;
        width: $smallCarlLong;
    }
}
.cityCard {
    display: flex;
    flex-direction: row;
    margin: 5px 15px 25px;
    @media (max-width: $br-small) {
        flex-direction: column;
    }
}

.number {
    display: flex;
    flex: 3 1 85%;
    font-size: 5em;
    text-shadow: 0px 0px 5px coral;
    color: black;
    place-self: center;
    place-items: center;
    @media (max-width: $br-small) {
        font-size: 4em;
    }
}

.ability {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 10%;
}

.backOfCard {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.cityOrder {
    display: flex;
    flex-direction: column;
    opacity: 20%;
    font-size: 3em;
    @media (max-width: $br-small) {
        font-size: 2em;
    }
}

.cityInfo {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    @media (max-width: $br-small) {
        flex-direction: column;
        align-items: center;
    }
}

.goalBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    place-self: center;
    place-items: center;
    @media (max-width: $br-small) {
        height: 80px;
    }
}

.cityPoints {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 2em;
    padding: 2px;
    width: 15px;
    @media (max-width: $br-small) {
        font-size: 1.5em;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

.firstPoint {
    color: chocolate;
    font-weight: bold;
}

.imgThisRound {
    width: 80%;
    height: auto;
}
.imgNextRound {
    width: 50%;
    height: auto;
}

.plotImage {
    width: 9%;
    @media (max-width: $br-small) {
        width: 11%;
    }
}

.street {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.goalText {
    font-size: 1em;
    width: 85%;
    @media (max-width: $br-small) {
        font-size: 0.9em;
    }
}
