@import url(https://fonts.googleapis.com/css2?family=Boogaloo&display=swap|Open+Sans:400italic,700italic,400,700);

$br-small: 500px;

p {
    font: italic small-caps bold 16px Georgia;
    text-align: center;
    margin: 0px;
    font-family: "Boogaloo", cursive;
}

h2 {
    font-family: "Boogaloo", cursive;
}

.welcome {
    display: flex;
    @media (max-width: $br-small) {
        display: block;
    }
}

.cityCards {
    display: flex;
    flex-direction: column;
    @media (max-width: $br-small) {
        flex-direction: row;
    }
}

.drawPile,
.featurePile {
    display: flex;
}

.piledCards {
    display: flex;
    flex-direction: column;
}

.controls {
    margin: 10px;
}

.button {
    font-family: "Boogaloo", cursive;
    width: 200px;
    margin: 0 5%;
}
