$br-small: 500px;

.welcome {
    display: flex;
    h2 {
        font-family: "Boogaloo", cursive;
    }
    p {
        font: italic small-caps bold 16px Georgia;
        text-align: center;
        margin: 0px;
        font-family: "Boogaloo", cursive;
    }
    @media (max-width: $br-small) {
        display: block;
    }
}

.cityCards {
    display: flex;
    flex-direction: column;
    @media (max-width: $br-small) {
        flex-direction: row;
    }
}

.drawPile,
.featurePile {
    display: flex;
}

.piledCards {
    display: flex;
    flex-direction: column;
}

.controls {
    margin: 10px;
}

.button {
    font-family: "Boogaloo", cursive;
    width: 200px;
    margin: 0 5%;
}
