.drawPile,
.cityCards,
.featurePile {
    display: flex;
    margin-bottom: 10px;
}

.welcome {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.cityCards {
    flex-flow: column nowrap;
}
